In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
    .appName("pyspark DF") \
    .master("local[*]") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/25 16:44:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
data=[("Gaurav",25.0),("Rahul",30.0),("Neha",56.0)]
df=spark.createDataFrame(data,["Name","age"])
df.show()

+------+----+
|  Name| age|
+------+----+
|Gaurav|25.0|
| Rahul|30.0|
|  Neha|56.0|
+------+----+

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: double (nullable = true)

# Explicit Schema

In [10]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
# pyspark.sql.types - Spark data type definition module 
# StructType - a full schema object (table structure)
# StructField - One column definition 
data=[
        ("101","gaurav",30),
        ("102","Rahul",40)
     ]

schema= StructType([
    StructField("id",StringType(),True),
    StructField("Name",StringType(),False),
    StructField("Age",IntegerType(),True),

])

df=spark.createDataFrame(data,schema)

In [11]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- Name: string (nullable = false)
 |-- Age: integer (nullable = true)

In [13]:
data= [
        {"Name":"gaurav","age":30},
        {"Name":"rahul","age":40}
    ]

df_dict=spark.createDataFrame(data)

In [14]:
df_dict.show()

+------+---+
|  Name|age|
+------+---+
|gaurav| 30|
| rahul| 40|
+------+---+

In [15]:
import pandas as pd 
pdf=pd.DataFrame({
    "Name":["Gaurav","Rahul"],
    "Age":[30,40]
})

In [16]:
df_pand=spark.createDataFrame(pdf)

In [17]:
df_pand.show()

+------+---+
|  Name|Age|
+------+---+
|Gaurav| 30|
| Rahul| 40|
+------+---+